.experiences {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #7A91FF;
  padding: 2rem 0 0;

  &-title {
    font-family: "Poppins", sans-serif;
    color: white;
    font-size: 3rem;
    margin: 4rem;

    @media (max-width: 768px) {
      font-size: 2.4rem;
    }

    @media (max-width: 550px) {
      margin: 2rem 0 0;
    }

    &At {
      color: #0033CC;
    }
  }

  &-section {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0 0;
    z-index: 0;
    
    @media (max-width: 550px) {
      margin: 2rem 0 0;
    }

    &Title {
      font-family: "Poppins", sans-serif;
      font-size: 2.2rem;
      color: white;
      margin: 1rem 0;

      @media (max-width: 768px) {
        font-size: 1.8rem;
      }
    }

    &Box {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      gap: 1.5rem;
      margin: 4rem;
    }

    &Card {
      width: 45%;
      height: 500px;

      @media (max-width: "992px") {
        width: 100%;
        height: 400px;
      }
    }
  }
}
