.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #00159b;
  padding: 2rem 0 0;

  &-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 1rem;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  }

  &-column {
    display: flex;
    flex-direction: column;
    align-items: start;
    list-style-type: none;

    @media (max-width: 768px) {
      width: 300px;
      align-items: center;
    }

    &Title {
      font-family: "Poppins", sans-serif;
      font-size: 1.5rem;
      font-weight: bold;
      background: linear-gradient(
        90deg,
        rgba(0, 160, 239) 50%,
        rgba(255, 255, 255, 1) 100%
      );
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 1rem;

      @media (max-width: 550px) {
        font-size: 1.2rem;
      }
    }

    &Item {
      font-family: "Poppins", sans-serif;
      text-decoration: none;
      color: white;
      margin: 0.5rem 0 0 0.5rem;

      @media (max-width: 768px) {
        text-align: center;
      }

      @media (max-width: 550px) {
        font-size: 0.9rem;
        margin: 0.2rem 0 0 0.5rem;
      }
    }

    &Link {
      color: white;
      text-decoration: none;
      transition: all 0.5s ease-in-out;

      &:hover {
        color: black;
      }
    }
  }

  &-img {
    width: 150px;
    height: 150px;

    @media (max-width: 768px) {
      margin-top: 1rem;
      width: 100px;
      height: 100px;
    }

    @media (max-width: 550px) {
      width: 75px;
      height: 75px;
    }
  }

  &-logo {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-sign {
    width: 100%;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    text-align: center;
    color: white;
    border-top: 0.2rem solid rgb(0, 160, 239);
    margin: 1rem 0;
    padding-top: 1rem;
  }

  &-prom {
    display: flex;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    text-decoration: none;
    text-align: center;
    color: white;
    margin: 0 0 1rem 0;

    &Img {
      width: 25px;
      height: 25px;
      filter: invert(1);
      margin: 0 0.5rem;
    }
  }
}
